body {
    font-weight: bold; font-family:宋体;
    font-size:16px;
}
.bg_1{background: url(../bg_blue.png) no-repeat; background-size:cover; }

.bg_2{background: url(../bg_light_blue.png) no-repeat; background-size: cover;}

.center {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
.x {
	background-color: #eff;
}

#boxGrid {
    width:540px;
    height:540px;
    margin: 0px auto;
    border: 0px solid #B5c345;
    border-collapse: collapse;
    border-radius:8px 8px;
    box-shadow: -6px 0px 6px #B5c345, 0 -6px 6px #B5c345, 0 6px 6px #B5c345, 6px 0 6px #B5c345;
}

#boxGrid tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

#boxGrid td {
    font-family: msyh,Verdana;
    font-size: 12px;
    line-height: 22px;
    border: 1px solid #B5c345;
    padding: 0px;
    margin: 0px;
    
}

#boxGrid input {
    width: 60px;
    height: 60px;
    background: none;
    border: 0px;
    text-align: center;
    line-height: 52px;
    font-weight: bold;
    font-size: 38px;
    color: #000000;
}
#boxGrid td.boldRight {
    border-right: 3px solid #B5c345;
}

#boxGrid tr.boldBottom {
    border-bottom: 3px solid #B5c345;
}

div.block {
    height: 100px;
    padding: 20px 10px;
}
div.block input.chkbtn {
    font-size: 16px;
    font-weight: bold;
    color: #B5c345;
    cursor: pointer;
    width: 90px;
    padding: 10px 5px;
    border: 0px;
    /*box-shadow:  -6px 0px 6px green, 0 -6px 6px blue, 0 6px 6px red, 6px 0 6px yellow;*/
}
